// шрифты
$ff-primary: "TT Lakes", regular, sans-serif;
$ff-primary-medium: "TT Lakes", medium, sans-serif;
$ff-primary-bold: "TT Lakes", bold, sans-serif;
$ff-primary-light: "TT Lakes", light, sans-serif;

// цвета
$color-primary: #42a5f5;
$color-secondary: #41f6d7;
$color-background: #f8f8f8;
$color-text: #1b1c21;
$color-placeholder: #b5b6bc;

// размеры
